<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
<%= link_to 'Add new', new_task_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Category</th>
    <th>Tag</th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.note %></td>
      <%unless task.category_id.blank?%>
      <td><%= Category.find(task.category_id).title %></td>
      <% else %>
        <td>No category</td>
      <% end %>

      <% unless Task.find(task.id).tags.blank?%>
      <% Task.find(task.id).tags.select(:title).each do |tag| %>
        <td><%= tag.title%></td>
        <%end %>
        <% else %>
        <td> No Tag</td>
        <% end %>

      <td><%= link_to 'EDIT',edit_task_path(task) %></td>
      <td><%= link_to 'Smazat', task_path(task),
                      method: :delete,
                      data: {confirm: 'Opravdu chcete smazat?'} %></td>
    </tr>
  <% end %>
</table>