<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= main_pages_index_path %>">Main Page</a></li>
    <li class="breadcrumb-item"><a href="<%= tasks_path %>">Tasks</a></li>
    <li class="breadcrumb-item">Task detail</li>
  </ol>
</nav>
<h1> Task detail </h1>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline_at %>
</p>

<p>
  <strong>Titul:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Poznámka:</strong>
  <% if @task.note.blank? %>
  <th> Žádná poznámka</th>
<% else %>
  <td><%= @task.note %></td>
<% end %>
</p>